/*start general properties for website*/
/***************************** Start Animations *****************************/
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

/*rotation animation*/
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*spinner loading page*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*start the wave animation*/
@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes niceAnimate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes niceAnimate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@-webkit-keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

/*flipping*/
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

/*shadow animation*/
@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

/*start rotate*/
@-webkit-keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}
@keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@-webkit-keyframes backbroundPosition {
  0% {
    background-position: 0  0;
  }
  100% {
    background-position: 0px  2000px;
  }
}

@keyframes backbroundPosition {
  0% {
    background-position: 0  0;
  }
  100% {
    background-position: 0px  2000px;
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

@-webkit-keyframes backgroundPosition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20000px 0;
  }
}

@keyframes backgroundPosition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20000px 0;
  }
}

@font-face {
  font-family: "semiBold";
  src: url(../fonts/tajawal/Tajawal-Medium.ttf);
}

@font-face {
  font-family: "regular";
  src: url(../fonts/tajawal/Tajawal-Regular.ttf);
}

@font-face {
  font-family: "bold";
  src: url(../fonts/tajawal/Tajawal-Bold.ttf);
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3 {
  font-family: "bold";
}

h4,
h5,
h6, label {
  font-family: "semiBold";
}

p,
span, .nav-link {
  font-family: 'regular';
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(0, 151, 219, 0.5);
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot span:hover {
  width: 30px;
  background-color: #0097DB !important;
  position: relative;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.large-none {
  display: none !important;
}

.custom-margin {
  margin: 0px 0px 15px 0px;
}

.general-section {
  width: 100%;
  padding: 50px 0px;
  overflow: hidden;
  position: relative;
}

.general-heading {
  width: 100%;
  text-align: center;
}

.general-heading h4 {
  color: #0097DB;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0px 60px;
  position: relative;
}

.general-heading h4::after, .general-heading h4::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #38B1ED;
}

.general-heading h4::after {
  left: 0;
}

.general-heading h4::before {
  right: 0;
}

.general-heading i {
  font-size: 30px;
  margin: 5px 0px;
  color: #0097DB;
}

.general-heading p {
  font-size: 15px;
  line-height: 1.8rem;
  color: #808080;
  margin: 10px 0px;
}

.custom-bnt {
  position: relative;
  display: inline-block;
  padding: 15px 43px;
  font-size: 20px;
  color: #fff;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px 0px;
  border: none;
}

.custom-bnt span {
  position: relative;
  z-index: 1;
}

.custom-bnt .liquid {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #38B1ED;
  top: 0px;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.custom-bnt .liquid::after, .custom-bnt .liquid::before {
  content: '';
  position: absolute;
  width: 140%;
  height: 250%;
  left: 50%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
  -webkit-animation: float 5s linear infinite;
          animation: float 5s linear infinite;
}

.custom-bnt .liquid::before {
  border-radius: 40%;
  background-color: rgba(0, 151, 219, 0.5);
}

.custom-bnt .liquid::after {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.custom-bnt:hover {
  color: #f9f9f9;
}

/*end general properties for website*/
nav {
  width: 100%;
  padding: 20px 0px;
  position: relative;
}

nav .nav-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 999;
}

nav .nav-content .image-content img {
  width: 140px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}

nav .nav-content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .nav-content .navbar-nav .nav-item .nav-link {
  margin: 0px 15px;
  color: #000;
  position: relative;
}

nav .nav-content .navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #38B1ED;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

nav .nav-content .navbar-nav .nav-item .nav-link:hover, nav .nav-content .navbar-nav .nav-item .nav-link.active {
  color: #0097DB;
  font-family: "semiBold";
}

nav .nav-content .navbar-nav .nav-item .nav-link:hover::after, nav .nav-content .navbar-nav .nav-item .nav-link.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav .nav-button {
  width: 50px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

nav .nav-button span {
  width: 100%;
  height: 4px;
  background-color: #38B1ED;
  border-radius: 5px;
}

nav::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/bottom_pattern.png) rgba(56, 177, 237, 0.4);
  bottom: 0px;
  left: 0;
  background-size: cover;
  background-repeat: repeat-x;
}

.mobile-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.mobile-nav::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  background: url(../images/top_pattern.png) #38B1ED;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.mobile-nav::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  background: url(../images/bottom_pattern.png) #38B1ED;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
}

.mobile-nav .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mobile-nav .navbar-nav .nav-item .nav-link {
  margin: 0px 15px;
  color: #000;
  position: relative;
}

.mobile-nav .navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #38B1ED;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.mobile-nav .navbar-nav .nav-item .nav-link:hover, .mobile-nav .navbar-nav .nav-item .nav-link.active {
  color: #0097DB;
  font-family: "semiBold";
}

.mobile-nav .navbar-nav .nav-item .nav-link:hover::after, .mobile-nav .navbar-nav .nav-item .nav-link.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.mobile-nav .mobile-close {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 60px;
  left: 60px;
  cursor: pointer;
}

.mobile-nav .mobile-close i {
  color: #0e2c50;
  font-size: 30px;
}

.active-nav {
  -webkit-animation: sideClip 1s linear;
          animation: sideClip 1s linear;
  opacity: 1;
  visibility: visible;
}

/*strat main*/
/*start header*/
header {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

header .content {
  z-index: 999;
}

header .content h4 {
  color: #f9f9f9;
}

header .content p {
  font-size: 15px;
  color: #ddd;
  text-align: justify;
  line-height: 1.8rem;
  margin: 10px 0px;
}

header .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .image-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .image-content img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

header .image-content img.logo {
  -webkit-filter: invert(91%) sepia(0%) saturate(1383%) hue-rotate(199deg) brightness(94%) contrast(102%);
          filter: invert(91%) sepia(0%) saturate(1383%) hue-rotate(199deg) brightness(94%) contrast(102%);
}

header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
}

header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  background: url(../images/top_pattern.png);
  background-size: cover;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
}

header .page-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 100px 0px;
}

header .page-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .page-content ul li a {
  color: #f3f9ff;
  font-size: 20px;
  margin: 0px 10px;
}

header .page-content ul li i {
  color: #0097DB;
  font-size: 20px;
  margin: 0px 10px;
}

/*start about-us*/
.about-us .content h3 {
  color: #0e2c50;
  margin: 10px 0px;
}

.about-us .content h5 {
  position: relative;
  color: #38B1ED;
  padding: 0px 30px;
}

.about-us .content h5::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #38B1ED;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about-us .content p {
  color: #808080;
  font-size: 15px;
  line-height: 1.8rem;
  margin: 10px 0px;
  text-align: justify;
}

.about-us .image-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about-us .image-content img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px !important;
  -webkit-box-shadow: 0px 0px 5px #808080;
          box-shadow: 0px 0px 5px #808080;
}

.features {
  background: url(../images/testmonials.png) #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.features.product-box {
  background: url(../images/testmonials.png) #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.features::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  background: url(../images/bottom_pattern.png);
  background-size: cover;
  top: 0;
  left: 0;
}

.features::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  background: url(../images/top_pattern.png);
  background-size: cover;
  bottom: 0;
  left: 0;
}

.features .general-heading {
  margin-bottom: 60px;
}

.features .box {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  position: relative;
  margin-bottom: 66px;
}

.features .box .image-content {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  margin: auto;
  position: relative;
  z-index: 999;
}

.features .box .image-content img {
  width: 70%;
  height: 70%;
}

.features .box .content {
  text-align: center;
  color: #0097DB;
  position: relative;
  z-index: 999;
}

.features .box::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 151, 219, 0.75)), to(rgba(14, 44, 80, 0.75)));
  background: linear-gradient(to right, rgba(0, 151, 219, 0.75), rgba(14, 44, 80, 0.75));
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 20px;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.features .box:hover .image-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-box-shadow: 5px 5px 10px #ddd , -5px -5px 10px #ddd;
          box-shadow: 5px 5px 10px #ddd , -5px -5px 10px #ddd;
}

.features .box:hover .content {
  color: #fff;
}

.features .box:hover::after {
  -webkit-animation: clip .7s linear;
          animation: clip .7s linear;
  opacity: 1;
}

.applications .custom-margin {
  margin: 60px 0px 20px 0px !important;
}

.applications .box {
  position: relative;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.applications .box .image-box {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  z-index: 999;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.applications .box .image-box img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.applications .box .image-box h5 {
  color: #0e2c50;
  margin: 10px 0px;
  -webkit-transition: display 2s linear;
  transition: display 2s linear;
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.applications .box .box-content {
  width: calc(100% - 75px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.applications .box .box-content p {
  color: #808080;
  line-height: 1.8rem;
  font-size: 15px;
  margin: 10px 0px;
  text-align: justify;
}

.applications .box .box-content h3 {
  color: #0097DB;
  font-size: 19px;
}

.applications .box:hover .image-box {
  width: 120px;
  height: 120px;
  left: -45px;
  top: calc(50% - 60px);
}

.applications .box:hover .image-box img {
  width: 60px;
  height: 60px;
}

.applications .box:hover .image-box h5 {
  display: none;
}

.products {
  background: url(../images/testmonials.png) #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.products.dronesType {
  background: url(../images/testmonials.png) #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.products::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  background: url(../images/bottom_pattern.png);
  background-size: cover;
  top: 0;
  left: 0;
}

.products::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  background: url(../images/top_pattern.png);
  background-size: cover;
  bottom: 0;
  left: 0;
}

.products .owl-carousel .owl-stage-outer {
  padding: 40px 0px;
}

.products .product-box {
  width: 100%;
  padding: 0px 10px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  position: relative;
  margin: 10px 0px;
}

.products .product-box::after {
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 151, 219, 0.75)), to(rgba(14, 44, 80, 0.75)));
  background: linear-gradient(to right, rgba(0, 151, 219, 0.75), rgba(14, 44, 80, 0.75));
  -webkit-transform: skewY(345deg);
          transform: skewY(345deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.products .product-box::before {
  content: 'Chasing';
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.05);
  font-size: 70px;
}

.products .product-box .image-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.products .product-box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 99;
}

.products .product-box .box-content {
  width: 100%;
  padding: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.products .product-box .box-content .title {
  text-align: center;
}

.products .product-box .box-content p {
  color: #808080;
  text-align: center;
  line-height: 1.8rem;
  margin: 10px 0px;
  font-size: 15px;
}

.products .product-box:hover::after {
  top: -60%;
  -webkit-transform: skewY(390deg);
          transform: skewY(390deg);
}

/*start loader*/
.contact-us .general-heading {
  margin-bottom: 50px;
}

.contact-us .map {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-us .map iframe {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.contact-us form label {
  color: #0097DB;
}

.contact-us form .form-control {
  border-color: #38B1ED;
  border-radius: 20px;
  resize: none;
}

.single-product .general-heading {
  margin-bottom: 50px;
}

.single-product .content h6 {
  text-align: center;
  color: #0a213d;
  line-height: 1.8rem;
}

.single-product .content .details {
  text-align: unset;
  color: #0e2c50;
  position: relative;
  padding: 0px 20px;
}

.single-product .content .details::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #38B1ED;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.single-product .content p {
  color: #808080;
  font-size: 15px;
  line-height: 1.8rem;
  margin: 10px 0px;
  text-align: justify;
}

.single-product .slider-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-product .owl-product-image .item {
  width: 100%;
  height: 100%;
  position: relative;
}

.single-product .owl-product-image .item img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.single-product .owl-product-image .item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.single-product .owl-product-image .item .button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
}

.single-product .owl-product-image .item .button i {
  color: #0097DB;
  font-size: 30px;
}

.single-product .owl-product-image .item:hover::after {
  -webkit-animation: clip .6s linear;
          animation: clip .6s linear;
  opacity: 1;
}

.single-product .owl-product-image .item:hover .button {
  opacity: 1;
}

/*start form-content*/
.form-content .general-heading {
  margin-bottom: 50px;
}

.form-content .addtional {
  margin: 50px 0px;
}

.form-content form .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form-content form .whichSelect {
  display: none;
}

.form-content form .whick-one {
  position: relative;
  color: #0097DB;
  font-size: 25px;
  border: 2px solid #38B1ED;
  border-radius: 5px;
  padding: 10px 60px;
  margin: auto;
  cursor: pointer;
}

.form-content form .whick-one::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  border: 3px solid #38B1ED;
  border-radius: 50%;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-content form input[type="radio"]:checked + .whick-one {
  background-color: #38B1ED;
  color: #f2f2f2;
}

.form-content form input[type="radio"]:checked + .whick-one::after {
  width: 16px;
  height: 16px;
  border: 5px solid #f2f2f2;
}

.form-content form .custom-check {
  width: 100% !important;
}

.form-content form .custom-check input {
  display: none;
}

.form-content form .custom-check .checkbox-btn {
  width: 100% !important;
  height: 200px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px #c3c3c367;
          box-shadow: 0px 0px 20px #c3c3c367;
  cursor: pointer;
}

.form-content form .custom-check .checkbox-btn i {
  color: #fff;
  font-size: 20px;
  background-color: #38B1ED;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(4);
          transform: translateX(-50%) scale(4);
  border-radius: 50%;
  padding: 3px;
  -webkit-transition: .2s;
  transition: .2s;
  pointer-events: none;
  opacity: 0;
}

.form-content form .custom-check .checkbox-btn .data-conent {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-content form .custom-check .checkbox-btn .data-conent img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.form-content form .custom-check .checkbox-btn .data-conent h6 {
  color: #0097DB;
  margin: 10px 0px;
  text-align: center;
}

.form-content form .custom-check input:checked + .checkbox-btn {
  border-color: #0097DB;
}

.form-content form .custom-check input:checked + .checkbox-btn i {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

/*start footer*/
footer {
  background: #0e2c50;
  position: relative;
}

footer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0px;
  left: 0;
  background: url(../images/bottom_pattern.png) transparent;
  background-repeat: repeat-x;
  background-size: contain;
}

footer .content h4 {
  color: #fff;
  position: relative;
  padding: 10px 0px;
  margin: 10px 0px;
}

footer .content h4::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #f3f9ff;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}

footer .content .image-content {
  width: 200px;
  height: 100px;
  overflow: hidden;
  margin: 10px 0px;
}

footer .content .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .content p, footer .content a {
  color: #f9f9f9;
  line-height: 1.8rem;
  margin: 10px 0px;
}

footer .content ul {
  margin: 20px 0px 0px 0px;
}

footer .content ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

footer .content ul.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .content ul.social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40px;
  height: 40px;
  background-color: #f9f9f9;
  border-radius: 50%;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  overflow: hidden;
}

footer .content ul.social li a {
  color: #0e2c50;
  margin: 0px 5px;
}

footer .content ul.social li a i {
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

footer .content ul.social li:hover {
  background-color: transparent;
  border: 2px solid #f3f9ff;
}

footer .content ul.social li:hover i {
  -webkit-animation: toRightFromLeft .5s linear forwards;
          animation: toRightFromLeft .5s linear forwards;
  color: #f9f9f9;
}

/*start copyright*/
.copyright {
  width: 100%;
  padding: 10px 0px;
  background: #0a213d;
}

.copyright p {
  margin: 0px;
  color: #fff;
}

.loader {
  background-color: #000000;
}

/*scroll to top btn */
.scroll-top-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #0e2c50;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.scroll-top-btn:hover {
  background: #0097DB;
  border-radius: 50%;
  color: #fff;
}

.scroll-top-btn i {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: relative;
  bottom: 4px;
}
/*# sourceMappingURL=style.css.map */